<div class="auth-body">
   <h2>Log in</h2>
   <form action="/auth/login" method="POST" class="sign-up-form">
      <label> Username
         <input type="text" name="username">
      </label>
      <label> Password
         <input type="password" name="password">
      </label>
      <button class="search-button" type="submit">Enter the house</button>
      <p class="small-text">Not yet a member? Create your account <a href="/auth/signup">here</a></p>


   </form>
   {{#if errorMessage}}
   <p class="error-message">{{errorMessage}}</p>
   {{/if}}
</div>