<h2>Create your account</h2>
<form action="/auth/signup" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <br>
   <label> Name
      <input type="text" name="name">
   </label>
   <br>
   <label> Password
      <input type="password" name="password">
   </label>
   <br>
   <label> Email
      <input type="email" name="email">
   </label>
   <br>
   <label> Borough
      <select name="borough" id="borough">
         {{#each berlinBoroughs}}
         <option value={{this}}>{{this}}</option>
         {{/each}}
      </select>
   </label>
   <br>
   <p>Select your location on the map below:</p>
   <div id='map'></div>
   <br>
   <label> Latitude
      <input type="floatNumber" name="latitude" id="latitude" readonly>
   </label>
   <label> Longitude
      <input type="floatNumber" name="longitude" id="longitude" readonly>
   </label>
   <br>
   <button type="submit">Submit</button>
</form>

<script src="/js/map.js"></script>
<script src="/js/map-add.js"></script>