<div class="delete-dialog">
  <h2>Are you sure you want to delete your account?</h2>
  <div>
    <button class="btn-yes"><a href="/profile/{{foundUser.username}}/delete/confirmed">Yes, delete my
        account</a></button>
    <button class="btn-no"><a href="/profile/{{foundUser.username}}">Nope, I'll give it another try</a></button>
  </div>
</div>