<div class="profile-body">

  <h1 class="underline">Plant finder</h1>
  <form class="search-form" action="/lookup" method="POST">
    <div class="search-fields">
      <label> Search for plant names:
        <input type="text" name="commonName" id="commonName" placeholder="Type plant name">
      </label>

    </div>

    <button class="search-button" type="submit">Look up</button>
    <p> Powered by <a href="https://trefle.io/">trefle.io</a></p>

  </form>

  <section class="results">
    <h2 class="results">Search results</h2>
    <ul class="plant-finder-results">
      {{#each returnedPlant}}
      <li class="search-card-plant">
        <a href="https://trefle.io/explore/species/{{this.slug}}"><img src="{{this.image_url}}" height="300" alt=""></a>
        <b>{{this.common_name}}</b>
        <i>{{this.scientific_name}}</i>
      </li>
      {{/each}}
    </ul>
  </section>
</div>