<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>House of plants</title>
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap"
      rel="stylesheet">
   <link rel="stylesheet" href="/stylesheets/style.css" />
   {{#if containsMap}}
   <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
   <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
   {{/if}}
</head>

<body>
   <nav class="nav-bar">
      <div class="nav-bar-links">
         <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Plants</a></li>
            <li><a href="/">Events</a></li>
         </ul>
      </div>
      <div class="nav-bar-links">
         {{#if user}}
         <li class="nav-dropdown"><a href="#">My profile</a></li>
         {{else}}
         <ul>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/signup">Create an account</a></li>
         </ul>
         {{/if}}
      </div>
   </nav>

   <ul class="nav-dropdown-menu">
      <li><a href="/profile/{{user.username}}">Your profile</a></li>
      <li><a href="/plant/add">Add a plant</a></li>
      <li><a href="/event/add">Add an event</a></li>
      <li><a href="/profile/wishlist">Wishlist</a></li>
      <li><a href="/auth/logout">Logout</a></li>
   </ul>

   <div class="body-website">

      <div class="container">
         {{{body}}}

      </div>
      <footer>
         <div class="newsletter-box">
            <h3>Stay in touch with us</h3>
         </div>
         <div class="made-by">
            <p>Made with by Frankie and Ola</p>
         </div>
      </footer>
   </div>
   <script src="/js/script.js"></script>

   <script>

   </script>
</body>

</html>