.logo-nav-img {
  width: 70px;
  position: absolute;
  left: calc(50vw - 35px);
  top: 0px;
  float: right;
  filter: drop-shadow(5px lightgrey);
  -webkit-filter: drop-shadow(5px lightgrey);
}

.nav-bar-left-text {
  margin: 0 20px;
}

.plant-body {
  padding: 20px 50px;
  display: flex;
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.plant-header > * {
  padding: 5px 0;
}

.plant-header h3 {
  font-weight: 200;
  font-size: larger;
}

.plant-main-container {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
}

.plant-view-left {
  max-width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plant-view-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.plant-labels {
  min-width: 150px;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
}

.pd-plant-description > * {
  padding: 5px 0;
}

.pd-plant-growing-info {
  width: 450px;
}

.pd-plant-growing-info > * {
  padding-bottom: 10px;
}

.plant-view-right {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plant-view-map {
  width: 200px;
  height: 150px;
  margin: 10px;
}

.plant-user-info {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 5px 5px 10px lightgray;
}

.plant-user-info img {
  max-height: 50px;
  padding: 5px;
}

.plant-view-buttons {
  margin: auto;
  max-width: 20%;
}

.plant-view-buttons button {
  padding: 10px;
  border-radius: 5%;
  margin: 15px;
}

.plant-view-buttons a {
  font-weight: 300;
  font-size: 16px;
}

/* STYLES FOR PLANT ROUTE */
.add-plant-new {
  padding: 20px 50px;
  display: flex;
  width: 80vw;
  min-width: 500px;
  margin: auto;
  flex-direction: column;
}
.add-plant-new .ap-basic-info {
  display: flex;
  flex-direction: column;
}
.add-plant-new .description-input {
  width: 100%;
}

.add-plant-section {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-plant-section > * {
  padding: 5px;
}

.add-plant-text-input {
  padding: 5px 10px;
  background-color: #d2d9c8;
  border-radius: 5px;
  border-style: line;
  border-color: #a8ada0;
  text-align: center;
  min-width: 300px;
}

.add-plant-number-input {
  padding: 5px 10px;
  background-color: #d2d9c8;
  border-radius: 5px;
  border-style: line;
  border-color: #a8ada0;
  text-align: center;
  max-width: 25px;
}
.add-plant-button {
  cursor: pointer;
  color: white;
  width: 150px;
  height: 40px;
  margin: 15px auto;
  border-radius: 5px;
  background-color: #6b824a;
}

th {
  border: 1px solid #6b824a;
  padding: 3px;
  border-radius: 3px;
}

td {
  background-color: #d2d9c8;
  padding: 3px;
}
