/* green: #6b824a */

* {
  padding: 0;
  margin: 0;
}

body {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.body-website {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  margin-top: 50px;
  flex: 1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav-bar {
  background-color: #6b824a;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav-bar-links {
  padding: 10px;
  font-size: larger;
}

.nav-bar ul {
  display: flex;
}

.nav-bar-links a {
  padding: 10px;
  color: white;
  font-weight: 400;
}

.nav-dropdown-menu {
  display: none;
}

.nav-dropdown-menu li {
  padding: 10px;
}

.nav-dropdown-menu a {
  color: white;
}

.show-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  background: #6b824a;
  color: white;
  width: 200px;
  top: 50px;
  right: 0;
  font-size: larger;
  font-weight: 400;
  z-index: 1;
}

footer {
  /* width: 100%; */
  margin: 0, auto;
  height: 50px;
  background-color: #6b824a;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.fd-body {
  /* width: 100vw; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.fd-search-container {
  width: 100%;
  height: 100vh;
  background-image: url("../images/fd-cover-unsplash-temp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.fd-search-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-shadow: 2px 2px 5px darkslategray;
  color: white;
}

.fd-search-content h1 {
  font-size: 68px;
  font-stretch: wider;
}

.fd-search-content > * {
  padding: 15px;
}

.fd-search-content > p {
  color: black;
  font-size: 24px;
}

.fd-buttons button {
  width: 150px;
  height: 40px;
  margin: 15px;
  border-color: #6b824a;
  border-radius: 5px;
  opacity: 0.9;
}

.fd-buttons a {
  color: black;
  font-weight: bolder;
}

/* .fd-body > section {
  padding: 10px 25px;
} */

.fd-plants-container {
  margin: 20px;
}

.fd-plants-container header {
  display: flex;
  justify-content: space-between;
}

.fd-plants-container a {
  font-size: larger;
  font-weight: bolder;
  align-self: center;
  color: black;
}

.fd-cards-container {
  padding: 20px 0;
  display: flex;
  justify-content: left;
}

.underline {
  text-decoration: underline #6b824a;
  text-decoration-thickness: 5px;
}

.fd-plants-container h2 {
  font-size: 30px;
}

.fd-plants-container > p {
  font-size: 20px;
  padding: 5px 0;
  font-weight: lighter;
}

.fd-cards-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.fd-card-plant {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fd-card-plant h3 {
  padding: 5px 0;
}

.label-available {
  background-color: lightgreen;
  padding: 2px 3px;
  border-radius: 5px;
}

.label-reserved {
  background-color: peachpuff;
  padding: 2px 3px;
  border-radius: 5px;
}

.label-gone {
  background-color: lightcoral;
  padding: 2px 3px;
  border-radius: 5px;
}

#map {
  width: 400px;
  height: 300px;
  margin: 10px;
}

.plant-image {
  height: 50px;
  width: 50px;
}

.plant-view-image {
  max-height: 150px;
  max-width: 150px;
}

.auth-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.auth-body h2 {
  padding: 20px;
}

.sign-up-form {
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-form > * {
  margin: 5px;
}

.small-text {
  font-size: smaller;
}

.auth-map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.auth-body button {
  padding: 5px 10px;
  font-weight: bolder;
  border-radius: 5%;
}

.error-message {
  margin: 15px;
  color: red;
  font-weight: bolder;
}

.profile-body {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: auto;
}

.user-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.profile-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info > * {
  padding: 10px 0;
}

.user-info button {
  width: 100px;
}

.users-items {
  margin: 15px 0px;
}

.profile-cards-container {
  padding: 10px 0px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.profile-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  padding-right: 20px;
}

.profile-item > * {
  margin-bottom: 10px;
}

.profile-item img {
  height: 150px;
  width: 150px;
}

.profile-item button {
  padding: 5px;
  border-radius: 10%;
}

.bigger-input {
  min-width: 350px;
  min-height: 100px;
}

.delete-dialog {
  margin: auto;
  padding: 50px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-dialog > * {
  padding: 10px;
}

.delete-dialog button {
  padding: 5px;
  width: 200px;
  margin: 10px;
  border: lightgray;
}

.delete-dialog a {
  font-weight: bolder;
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
}

.btn-yes {
  background-color: limegreen;
}

.btn-no {
  background-color: orangered;
}

/* STYLES FOR PLANT ROUTE */
.add-plant {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.add-plant .ap-basic-info {
  display: flex;
  flex-direction: column;
}
.add-plant .description-input {
  width: 100%;
}
