<div class="delete-dialog">
  <h2>Are you sure you want to delete {{foundPlant.commonName}}?</h2>
  <div>
    <button class="btn-yes"><a href="/plant/{{foundPlant._id}}/delete/confirmed">Yes, delete this
        plant</a></button>
    <button class="btn-no"><a href="/plant/view/{{foundPlant._id}}">Nope, keep the plant</a></button>
  </div>
</div>